<!-- views/pages/index.ejs -->
<% var rootPath = './'; %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>
    <body >
        <header>
            <% include ../../partials/adminHeader %>
        </header>
        <main class="container-fluid">
            <div class="row">  
                <div class="col-xs-11 center_col">     
                
                </div>              
            </div>
        </main>
        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>
</html>